(
    palette: Dark((
        name: "cosmic-dark",
        bright_red: "#FFA09AFF",
        bright_green: "#5EDB8CFF",
        bright_orange: "#FFA37DFF",
        gray_1: "#1B1B1BFF",
        gray_2: "#262626FF",
        neutral_0: "#000000FF",
        neutral_1: "#030303FF",
        neutral_2: "#161616FF",
        neutral_3: "#2E2E2EFF",
        neutral_4: "#484848FF",
        neutral_5: "#636363FF",
        neutral_6: "#808080FF",
        neutral_7: "#9E9E9EFF",
        neutral_8: "#BEBEBEFF",
        neutral_9: "#DEDEDEFF",
        neutral_10: "#FFFFFFFF",
        accent_blue: "#63D0DFFF",
        accent_indigo: "#A1C0EBFF",
        accent_purple: "#E79CFEFF",
        accent_pink: "#FF9CB1FF",
        accent_red: "#FDA1A0FF",
        accent_orange: "#FFAD00FF",
        accent_yellow: "#F7E062FF",
        accent_green: "#92CF9CFF",
        accent_warm_grey: "#CABAB4FF",
        ext_warm_grey: "#9B8E8AFF",
        ext_orange: "#FFAD00FF",
        ext_yellow: "#FEDB40FF",
        ext_blue: "#48B9C7FF",
        ext_purple: "#CF7DFFFF",
        ext_pink: "#F93A83FF",
        ext_indigo: "#3E88FFFF",
    )),
    spacing: (
        space_none: 0,
        space_xxxs: 4,
        space_xxs: 8,
        space_xs: 12,
        space_s: 16,
        space_m: 24,
        space_l: 32,
        space_xl: 48,
        space_xxl: 64,
        space_xxxl: 128,
    ),
    corner_radii: (
        radius_0: (0.0, 0.0, 0.0, 0.0),
        radius_xs: (2.0, 2.0, 2.0, 2.0),
        radius_s: (8.0, 8.0, 8.0, 8.0),
        radius_m: (8.0, 8.0, 8.0, 8.0),
        radius_l: (8.0, 8.0, 8.0, 8.0),
        radius_xl: (8.0, 8.0, 8.0, 8.0),
    ),
    neutral_tint: Some("#636363FF"),
    bg_color: Some("#100F15FF"),
    primary_container_bg: None,
    secondary_container_bg: None,
    text_tint: Some("#FFFFFFFF"),
    accent: Some("#A1C0EBFF"),
    success: Some("#5EDB8CFF"),
    warning: Some("#FFA37DFF"),
    destructive: Some("#FFA09AFF"),
    frosted: Medium2,
    gaps: (0, 5),
    active_hint: 1,
    window_hint: None,
    frosted_windows: true,
    frosted_system_interface: true,
    frosted_panel: true,
    frosted_applets: true,
    frosted_maximized_apps: false,
    alpha_map: (
        extremely_low: 0.71999997,
        extremely_low_2: 0.69692,
        very_low: 0.67385,
        very_low_2: 0.65076,
        low: 0.62769,
        low_2: 0.60460997,
        medium: 0.58154,
        medium_2: 0.55846,
        high: 0.53538,
        high_2: 0.51230997,
        very_high: 0.48022997,
        very_high_2: 0.46615,
        extremely_high: 0.44308,
        extremely_high_2: 0.42000002,
    ),
)